.message-container {
    padding: 5px;
    font-size: 12px;
    color: #101010;
    width: 100%;
    display: block;
    letter-spacing: 0.2px;
    word-break: break-word;
}

.message-user {
    font-weight: bold;
    margin-right: 3px;
}